html {
  height: 100%;
  width: 100%;
}
.cnvs {
  width: 1000px;
  height: 712px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.border {
  border: 1px solid black;
}
